requirements
- warn/timeout users - DONE
- ban users - DONE
- remove warns from users - DONE
- log moderation actions in designated channel - DONE
- create report of warns for users (incl. ID, date, warning mod, reason) - DONE
- designate users as troublemakers and automatically time them out for warns - DONE
- self log warns - include attachments - DONE
- create reports of mod actions over set of dates
- cell users
- log if user deletes their own message
- allow for anonymous reporting -> removes need for confession bot
- inclusionary / exclusionary role connections (i.e. anyone who has "heretic" can't get "contra gentiles")
- join roles (i.e. on join, get unverified & remove staff roles [if user has any])
- potentially - youtube notifs for RZ's channel
- lockdown server/channels
- automatically timeout/ban user after X warns
- purge command (user / channel / number of messages)
- tags (for shiggles)
- automod stuff (i.e. say fuck -> get timed out)
- send funny gif w/ banned user + reason on ban
- ticketing
- starboards
- suggestions
- applications
- polling
- display total members / online members
- automatically watchlist user after X warns
- denom demographics (whole server, mod team, admin team)
- link blocker (non-approved servers, porn sites, etc)}
- automatic mod evaluation